@model FinalBookStore.Models.EntityFramework.AUTHOR

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6 col-md-push-8 searchfilter">
            @using (Html.BeginForm("Details", "AUTHORs"))
            {
                <p class="search">
                    Book Name @Html.TextBoxFor(x=>x.FullName) <input type="submit" value="Search" />
                </p>
            }
        </div>
    </div>
</div>