

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6 col-md-push-8 searchfilter">

                <p class="search">
                    @using (Html.BeginForm("Details", "AUTHORs", FormMethod.Post, new {id="authorName"}))

                    {

                        <p>
                            Search Author
                            @Html.TextBox("authorName")
                        </p>
                        <input type="submit" value="Search" />
                    }
                </p>
            @Html.ValidationSummary(false)
        </div>
    </div>
</div>