@model FinalBookStore.Models.EntityFramework.AUTHOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{Html.RenderPartial("_AuthorBooks");}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AUTHOR_NUM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
