@using System.IdentityModel.Tokens
@using FinalBookStore.Models.EntityFramework
@model IEnumerable<FinalBookStore.Models.EntityFramework.AUTHOR>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> Authors = new List<SelectListItem>();
    Authors.Add(new SelectListItem() { Text = "Select Author", Value= "" });
    foreach (AUTHOR author in Model)
    {
        author.FullName = author.AUTHOR_FIRST + " " + author.AUTHOR_LAST;
        Authors.Add(new SelectListItem(){Text = @author.FullName, Value = author.AUTHOR_NUM.ToString()});
    }
}

<h2>Authors</h2>
<div class="row">
    <div class="col-4 text-center">
    @using (Html.BeginForm("Details", "AUTHORs", FormMethod.Post))
    {
        @Html.DropDownList("id", Authors, new {onchange = "this.form.submit()"})
    }
    </div>
</div>



            @*@Html.ValidationMessageFor(x => x.SelectedCountryIso3, "", new { @class = "text-danger" })*@




