@using FinalBookStore.Models.EntityFramework
@model IEnumerable<FinalBookStore.Models.EntityFramework.BRANCH>



@{

    List<SelectListItem> Branches = new List<SelectListItem>();
    Branches.Add(new SelectListItem() { Text = "Select Branch", Value = "" });
    foreach (BRANCH branch in ViewBag.ModelList)
    {
        Branches.Add(new SelectListItem()
        {
            Text = branch.BRANCH_NAME, Value = branch.BRANCH_NUM.ToString()
        });
    }

    bool flag = Model.Count() == 1;
}



<h2>Branches</h2>
<h4 class="text-center alert-danger">@ViewBag.message</h4>
<div class="row">
    <div class="col-4 text-center">

        @using (Html.BeginForm("Index", "BRANCHes", FormMethod.Post))
        {
            @Html.DropDownList("id", Branches, new { onchange = "this.form.submit()" })

        }
    </div>
</div>