@using System.Globalization
@using FinalBookStore.Models
@model IEnumerable<FinalBookStore.Models.EntityFramework.BOOK>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

@{ var t = 0; var i = 1; }
<div class="row">
    @foreach (var item in Model)
    {
        var nameToTitleCase = @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.TITLE);
        string code = item.BOOK_CODE;
        string urlBuilder = "~/Content/Images/" + code + "/thumb.jpg";
        
        <div class="col-md-3 top-buffer"><p>@nameToTitleCase</p>@Html.ImageActionLink("Details", "Details", "BOOKs", new { id = item.BOOK_CODE }, null,urlBuilder )</div>
        if (i % 4 == 0)
        {
            t++;
        @:</div><div class="row top-buffer">
        }
        i++;
    }
</div>