@{
    ViewBag.Title = "Home Page";
}

<div class ="jumbotron top-buffer">
    <h1 class="animate__animated animate__bounce text-responsive display-1">Dalton's Bookstore</h1>
</div>

<div class="text-center container-fluid">
    <button class ="btnShow btn-success">Show</button>
    <button class="btnHide btn-danger">Hide</button>
</div>
<div class="col-md-12">
    <h1 class="display-1 text-responsive">Welcome to my Bookstore!</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About Me</h2>
        <p></p>
    </div>
    <div class="col-md-6">
        <h2>Author</h2>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Publisher</h2>
        <p></p>
    </div>
    <div class="col-md-6">
        <h2>Location</h2>
        <p></p>
    </div>
</div>
