@using System.Collections
@using System.IdentityModel.Tokens
@using System.Web.Mvc.Html
@using FinalBookStore.Models.EntityFramework
@model IEnumerable<FinalBookStore.Models.EntityFramework.PUBLISHER>

@{

    List<SelectListItem> Publishers = new List<SelectListItem>();
    Publishers.Add(new SelectListItem() { Text = "Select Publisher", Value = "" });
    foreach (PUBLISHER publisher in ViewBag.ModelList)
    {
        Publishers.Add(new SelectListItem() { Text = publisher.PUBLISHER_NAME, Value = publisher.PUBLISHER_CODE });
    }

    bool flag = Model.Count() == 1;
}



<h2>Publishers</h2>
<h4 class="text-center alert-danger">@ViewBag.message</h4>
<div class="row">
    <div class="col-4 text-center">

        @using (Html.BeginForm("Index", "PUBLISHERs", FormMethod.Post))
        {
            @Html.DropDownList("id", Publishers, new { onchange = "this.form.submit()" })

        }
    </div>
</div>

@if (flag)
{
    if (Model != null)
    {
        @Html.Partial("_PublisherDetails")
    }

}